node_modules/
coverage/
dist/
.tmp/
*.d.ts
*.log
*.tgz
*.yaml
.idea/
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
.vscode
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace
.vscode/c_cpp_properties.json

# Local History for Visual Studio Code
.history/

# DS_Store
.DS_Store

# result
*.txt
